[Unit]
Description=Azure Syslog Server 
After=multi-user.target

[Service] 
Type=simple ExecStart="/opt/dotnet/dotnet" "/opt/syslog/Syslog.Server.dll" 
RootDirectory="/opt/syslog/" 
WorkingDirectory="/opt/syslog" 
Restart=on-abort

[Install] 
WantedBy=multi-user.target
